#body
{
    text-align: center;
}

#title1 
{
    color:darkgreen;
    font-family: agency FB;
    font-size: 90;
    font-weight: bolder;
    text-align:center;
    margin-bottom: 0;
    margin-top: 0;
}

button:hover
{
    cursor:hand;
}

#back:hover
{
    cursor:hand;
}

#next:hover
{
    cursor:hand;
}

#prev:hover
{
    cursor:hand;
}

#back
{
    float:right;
    
}

#wondersTitle
{
    margin-left: 10%;
    font-size: 50;
    font-family: calibri;
    font-weight: bolder;
}

#facts
{
    margin-left: 9%;
}

li
{
    font-size: 25;
    font-weight: 625;
}

#patch
{
    margin-left: 5%;
    margin-right: 3%;
}